{% extends '@Arduino/index.html.twig' %}
{% form_theme form 'ArduinoBundle:Form:form.html.twig' %}
{% set timeFormat = '%2.2f %s' %}
{% set timeUnit = 'ms' %}

{% block content %}
<div class="row">
    <h1>Main site</h1>
</div>
<div class="row">
    {% if repository.numberOfQueries == 0 %}
        No query was made
    {% else %}
        From <strong>{{ repository.minDate|date("d.m.Y H:i:s") }}</strong> to <strong>{{ repository.maxDate|date("d.m.Y H:i:s") }}</strong>:<br/>
        Queries count: {{ repository.numberOfQueries }}<br/>
        Avarge query time: {{ timeFormat|format(repository.meanTime, timeUnit) }}<br/>
        Max time: {{ timeFormat|format(repository.maxTime, timeUnit) }}<br/>
        Min time: {{ timeFormat|format(repository.minTime, timeUnit) }}<br/>
    {% endif %}
    <br/><br/>
</div>
<div class="well">
    <div class="row">
        <div class="col-lg-6">
            {{ form_start(form, {'attr': {'role': 'form'} }) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
        <div class="col-lg-5 text-center">
            <strong>
                <a href="{{ path('arduino_main') }}">
                    <span class="fa fa-refresh"></span> Refresh
                </a>
            </strong>
        </div>

    </div>
    <div class="row">
        <div id="myfirstchart" style="height: 250px;"></div>
    </div>
</div>
{% endblock %}

{% block javascript %}
    <script>
        $(document).ready(function(){
            $('#thermometer_form_thermometer').change(function () {
                $('#thermometer_form_thermometer').closest("form").submit();
            });
        });
    </script>
    {% if data is not null %}
        <script>
            new Morris.Area({
                element: 'myfirstchart',
                data: [
                    {{ data|raw }}
                ],
                xkey: 'x',
                ykeys: ['y'],
                xLabels: "day",
                labels: ['Temperature']
            });
        </script>
    {% endif %}
{% endblock %}
