{% extends '@Arduino/index.html.twig' %}
{% set timeFormat = '%2.2f %s' %}
{% set timeUnit = 'ms' %}

{% block content %}
<div class="row">
    <h1>Main site <small>Welcome</small></h1>
</div>
<div class="row">
    <div class="col-lg-6 well">
        {% if repository.numberOfQueries == 0 %}
            No query was made
        {% else %}
            <p>From <strong>{{ repository.minDate|date("d.m.Y H:i:s") }}</strong> to <strong>{{ repository.maxDate|date("d.m.Y H:i:s") }}</strong>:</p>
            <p>Queries count: {{ repository.numberOfQueries }}</p>
            <p>Avarge query time: {{ timeFormat|format(repository.meanTime, timeUnit) }}</p>
            <p>Max time: {{ timeFormat|format(repository.maxTime, timeUnit) }}</p>
            <p>Min time: {{ timeFormat|format(repository.minTime, timeUnit) }}</p>
        {% endif %}
    </div>
</div>
{% endblock %}
